---
layout: default
---
{% assign trenutniDenar = 0 %}
{% for vplacilo in site.data.vplacila %}
{% if vplacilo.ime == "Skupaj" %}
{% assign trenutniDenar = vplacilo.znesek %}
{% endif %}
{% endfor %}
<h1>Billiards!</h1>

{{ site.welcome_text }}

<h2>Trenutno zbran denar</h2>
<p>{{ trenutniDenar }}</p>
<p><a href="../donacije">Donacije</a></p>

<h2>Milestones</h2>

<table style="width:100%">
    <tr>
        <th>Completed</th>
        <th>Znesek</th> 
        <th>Miza</th> 
    </tr>
    {% include milestones.html denar=trenutniDenar milestone=400 miza="Miza 1" %}
    {% include milestones.html denar=trenutniDenar milestone=500 miza="Miza 2" %}
    {% include milestones.html denar=trenutniDenar milestone=2000 miza="Miza 3" %}
</table>


